body {
  background-color: #5850af;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.pokedex {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightgray;
}

.search-area {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#search-input {
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 3px;
}

#search-button {
  border-radius: 12px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-color: #8428d7;
}

#search-button:hover {
  cursor: pointer;
  background-color: green;
}

.picture {
  width: 75%;
  background-color: #c6c9cb;
  margin-left: 5%;
  margin-right: 5%;
}

.identity {
  display: flex;
  width: 40%;
  padding-bottom: 1px;
  justify-content: space-between;
}

#sprite {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#pokemon-name {
  margin-right: 10px;
  width: 75%;
  text-align: center;
}

#pokemon-id {
  width: 25%;
  text-align: center;
}

.physical-traits {
  display: flex;
  width: 50%;
  padding: 5px;
  padding-bottom: 1px;
}

#weight {
  width: 50%;
  text-align: center;
  margin-right: 10px;
}

#height {
  width: 50%;
  text-align: center;
}

#types {
  display: flex;
  width: 30%;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.type {
  text-align: center;
  background-color: green;
  width: 50%;
  margin: 5px;
  border-radius: 12px;
}

.stats {
  display: flex;
  width: 75%;
  flex-direction: column;
  flex-wrap: wrap;
}

.text {
  display: inline-block;
  width: 55%;
  text-align: center;
  background-color: #9150af;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  margin-bottom: 0;
  padding: 5px;
}

.stat {
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: #9150af;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  margin-bottom: 0;
  padding: 5px;
}
